<apex:component controller="DC_WorkflowActionListController" allowDML="true">
  <apex:attribute name="inWrapper" assignTo="{!wrapper}" type="DC_GenericWrapper" description="Wrapper with records and fields to render." />
  <apex:attribute name="inConfigContext" assignTo="{!configContext}" type="String" description="Object name that contains the field configuration for the component." />
  <apex:attribute name="inWFManager" assignTo="{!wfManager}" type="DC_WorkflowManager" description="Wrapper with records and fields to render." />
  <apex:attribute name="inOpportunity" assignTo="{!opportunity}" type="Opportunity" description="Current Opportunity" required="true" />
  <apex:pageBlock id="pb"> 
    <apex:pageBlockTable value="{!WFActionWrapperList}" var="wfRule" id="pbt" rendered="{!WFActionWrapperList != null && WFActionWrapperList.size > 0}">
      
      <apex:repeat value="{!fieldConfig}" var="field">
      
		    <apex:column headerValue="{!$Label['DC_' + field['name']]}"> 
		      <apex:outputText value="{!wfRule.values[field['Name']]}" />
		    </apex:column>        
		    
      </apex:repeat> 
       
      <apex:column headerValue="Action List" styleClass="">
	      <apex:selectList id="actionList" value="{!wfRule.selectedAction}" size="1" >
	        <apex:selectOptions value="{!wfActionOptions}" />
	      </apex:selectList>
      </apex:column>
    </apex:pageBlockTable>
    
    <apex:pageBlockButtons location="bottom"> 
        <apex:commandButton action="{!performWFActions}" oncomplete="parent.approveOpptyAS('{!isError}');" rendered="{!WFActionWrapperList != null && WFActionWrapperList.size > 0}" value="Perform Actions" id="btnD" rerender="pb, frm"></apex:commandButton>
<!--         <apex:commandButton onclick="parent.onCancel();" value="Cancel Actions" id="btnC" rerender="pb, frm"></apex:commandButton>     -->
        <apex:commandButton onclick="parent.onCancel();" rendered="{!WFActionWrapperList != null && WFActionWrapperList.size > 0}"  value="Cancel Actions" id="btnC" rerender="pb, frm"></apex:commandButton>
        <apex:commandButton onclick="parent.onCancel();" rendered="{!WFActionWrapperList == null || WFActionWrapperList.size == 0}"  value="Back To Opportunity" id="btnBTO" rerender="pb, frm"></apex:commandButton>
        
          
    </apex:pageBlockButtons>
  </apex:pageBlock>
  
</apex:component>